body {
  background-color: #BCA9F5;
  /* background-image: url("Berg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}
h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
}
h3{
  font-weight: bold;
}
#welcome{
  display: none;
}
#startGame{
  display: none;
}

#game{
  display: none;
}
.input-group{
  width: 400px;
  margin: auto;
}
.highlight{
  transform: scale(2,2);
}
.color{
  text-decoration: underline;
  font-size: 48px;
  color: #0000FF;
}
.imgdisplayed{
  transform: scale(3,3);
  display: block;
  margin-top: auto;
  margin: auto;
}
